In [194]:
df = pd.read_csv("/Users/sinemsen/Downloads/Audi_A1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             471 non-null    int64
 1   Year              471 non-null    float64
 2   Type              471 non-null    object
 3   Mileage(miles)    471 non-null    float64
 4   Engine            471 non-null    object
 5   PS                471 non-null    float64
 6   Transmission      471 non-null    object
 7   Fuel              471 non-null    object
 8   Number_of_Owners  471 non-null    int64
 9   Price(£)          471 non-null    float64
 10  href              471 non-null    object
 11  PPY               471 non-null    float64
 12  MileageRank       471 non-null    int64
 13  PriceRank         471 non-null    int64
 14  PPYRank           471 non-null    int64
 15  Score             471 non-null    int64
dtypes: float64(5), int64(6), object(5)
memory usage: 59.0+ KB

In [193]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [195]:
#(preprocessing) kullanılmayacak verileri dataset içinden temizleme
df = df.drop(columns=["index", "href", "PPY", "MileageRank", "PriceRank", "PPYRank", "Score"])
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [196]:
df["Engine"]=df["Engine"].str.replace("L", "")
df["Engine"]=pd.to_numeric(df["Engine"])
df.head(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              471 non-null    float64
 1   Type              471 non-null    object
 2   Mileage(miles)    471 non-null    float64
 3   Engine            471 non-null    float64
 4   PS                471 non-null    float64
 5   Transmission      471 non-null    object
 6   Fuel              471 non-null    object
 7   Number_of_Owners  471 non-null    int64
 8   Price(£)          471 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 33.2+ KB

In [197]:
print(df)

       Year       Type  Mileage(miles)  Engine          PS Transmission  \
0    2018.0  Hatchback         44000.0     1.6  114.398422       Manual
1    2016.0  Hatchback         42596.0     1.0   93.688363       Manual
2    2015.0  Hatchback         42700.0     1.4  123.274162       Manual
3    2014.0  Hatchback         86000.0     1.6  103.550296       Manual
4    2014.0  Hatchback        104310.0     1.6  103.550296       Manual
..      ...        ...             ...     ...         ...          ...
466  2014.0  Hatchback         40195.0     1.4  138.067061    Automatic
467  2020.0  Hatchback         26218.0     1.0  114.398422       Manual
468  2017.0  Hatchback         48571.0     1.4  123.274162       Manual
469  2020.0  Hatchback          9584.0     1.0   93.688363       Manual
470  2019.0  Hatchback         17303.0     1.0  114.398422       Manual

       Fuel  Number_of_Owners  Price(£)
0    Diesel                 1   14995.0
1    Petrol                 3   10755.0
2    Petrol                 2   10799.0
3    Diesel                 3    7490.0
4    Diesel                 3    7400.0
..      ...               ...       ...
466  Petrol                 3   11275.0
467  Petrol                 1   18495.0
468  Petrol                 2   11995.0
469  Petrol                 1   19970.0
470  Petrol                 1   17195.0

[471 rows x 9 columns]

In [202]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

print("Kategorik Sütunlar:")
print(categorical_columns)

Kategorik Sütunlar:
['Type', 'Transmission', 'Fuel']

In [204]:
label_encoder = LabelEncoder()
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])
print(df)

       Year  Type  Mileage(miles)  Engine          PS  Transmission  Fuel  \
0    2018.0     0         44000.0     1.6  114.398422             1     0
1    2016.0     0         42596.0     1.0   93.688363             1     1
2    2015.0     0         42700.0     1.4  123.274162             1     1
3    2014.0     0         86000.0     1.6  103.550296             1     0
4    2014.0     0        104310.0     1.6  103.550296             1     0
..      ...   ...             ...     ...         ...           ...   ...
466  2014.0     0         40195.0     1.4  138.067061             0     1
467  2020.0     0         26218.0     1.0  114.398422             1     1
468  2017.0     0         48571.0     1.4  123.274162             1     1
469  2020.0     0          9584.0     1.0   93.688363             1     1
470  2019.0     0         17303.0     1.0  114.398422             1     1

     Number_of_Owners  Price(£)
0                   1   14995.0
1                   3   10755.0
2                   2   10799.0
3                   3    7490.0
4                   3    7400.0
..                ...       ...
466                 3   11275.0
467                 1   18495.0
468                 2   11995.0
469                 1   19970.0
470                 1   17195.0

[471 rows x 9 columns]

In [207]:
# y = ax + b
x = df.drop(["Price(£)"], axis=1)
y = df["Price(£)"]
lm = LinearRegression()
model = lm.fit(x,y)
model.predict([[2017, 30000, 1.6, 110, 1, 2600, 0, 1]])
model.coef_
model.score(x,y)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([ 1.37729026e+03,  4.92696729e-09, -5.57181496e-02, -2.98009794e+03,
        6.22163390e+01, -1.92261098e+03, -1.36105032e+03, -3.51511125e+01])